const styles = StyleSheet.create({
  telaPrincipal: {
   flex: 1,
   backgroundColor: '#0091F2',
   alignItems: 'center',
   
  },
  telaTitulo: {
    
   backgroundColor: 'white',
   marginTop: 35,
   marginBottom: 1,
   marginRight:20,
   padding: 40,
   width:400,

  },
  cards: {
   fontSize: 25,
   marginLeft: 10.5,
   width: 300,
   height: 250,
   marginBottom: 150,
   marginTop: 60,
   borderRadius: 25,
   justifyContent:'space-between'
  },

  imagens: {
   borderRadius: 25,
  },

  usuario: {
   fontSize: 30,
   color: 'black',
   fontWeight:'bold',
   width:300,
  },
  

  verPerfil: {
   fontSize: 25,
   color:'lightblue',  
   },
  
   cardsTexto: {
   fontSize: 85,
   marginLeft: 10,
   fontWeight:'bold',

  },

   subTexto: {
   fontSize: 15,
   color: '#0080FF',
   marginLeft: 10,
  },

   scrollview: {
   width: 320,
   height: 200,
   contentContainer: {
    paddingVertical: 100 }
  },

  
  assistir: {
   width: 200,
   height: 50,
   backgroundColor: '#81BEF7',
   marginTop: 25,
   marginBottom: 10,
   marginLeft: 46,
   alignItems: 'center',
   borderRadius: 25,
  },

   evolucao: {
   width: 200,
   height: 50,
   backgroundColor: 'orange',
   marginTop: 25,
   marginBottom: 10,
   marginLeft: 46,
   alignItems: 'center',
   borderRadius: 25,
   alignContent:'flex-end',
  },

   voltar: {
   width: 200,
   height: 50,
   backgroundColor: '#81BEF7',
   marginTop: 25,
   marginRight: 30,
   alignItems: 'center',
   borderRadius: 25,
   alignContent:'flex-start',
  },

  assistirTexto: {
   fontSize: 25,
   color:'white',
   height: 50,
   marginTop: 11,
   alignItems: 'center',

   footer: {
   fontSize: 65,
   color: '#0080FF',
   marginLeft: 10,
  },
  
  },
  
});
